header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 128px 128px 128px 195px;
  background: repeating-linear-gradient(289.25deg, transparent, transparent 32px, #3F3F3F 32px, #3F3F3F 64px);
  border-radius: 24px;
}

h1 {
  font-size: 192px;
  margin: 0;
}

h2 {
  font-size: 32px;
  left: 16px;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 20px;
}

a.gradient {
  padding: 0 64px 0 0;
  box-sizing: border-box;
  transition: background-position 200ms ease-in-out;
}

a.gradient:hover {
  background-position: -1ch 0;
}

section.title-card {
  position: relative;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 256px;
}

section.title-card > img {
  width: 1232px;
  height: 288px;
  transform: translateY(32px);
}

section.title-card > h1 {
  position: absolute;
  color: transparent;
  transform: translateY(32px);
  width: 1232px;
  height: 288px;
  font-size: 262px;
}

section.title-card > h2 {
  position: absolute;
  line-height: 1em;
  margin: 0 0 0 32px;
}

section.title-card > h2.intro {
  top: -8px;
}

section.title-card > h2.outro {
  transform: translateY(320px);
  width: 100%;
  margin: 0 !important;
  text-align: right;
}

section.title-card > h2 > a.gradient > span {
  width: 9ch;
  top: -3px;
  left: -7px;
}

section.hint {
  position: absolute;
  left: 96px;
  top: 56px;
}

section.hint > h3 {
  height: 48px;
}

section.hint > div {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.progress > h2 {
  text-align: center;
  padding: 64px 0 16px 0;
}

section.progress > h3 {
  text-align: center;
  padding: 0 0 0 64px;
}

section.progress > h3 > a > span {
  /* fix ?? */
  z-index: auto;
  width: 9ch;
  top: -4px;
  left: -6px;
}

section.progress {
  margin-bottom: 64px;
}

span.spacing {
  height: 8em;
}
