header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
}

h1 {
  font-size: 192px;
  margin: 0;
}

h2 {
  font-size: 32px;
  left: 16px;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 20px;
}

a.gradient {
  position: relative;
  padding: 0 64px 0 0;
  box-sizing: border-box;
  transition: background-position 200ms ease-in-out;
}

a.gradient > span {
  position: absolute;
  /*background: transparent;*/
  border: 4px solid transparent;
  height: 100%;
  top: -2px;
  left: -7px;
  border-radius: 8px;
  z-index: -1;
  transition: border-color 200ms ease-in-out;
}

a.gradient:hover {
  background-position: -1ch 0;
}

a.gradient:hover > span {
  /*background: white;*/
  border-color: white;
}

section.title-card {
  position: relative;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 256px;
}

section.title-card > img {
  width: 1232px;
  height: 288px;
  transform: translateY(32px);
}

section.title-card > h1 {
  position: absolute;
  color: transparent;
  transform: translateY(32px);
  width: 1232px;
  height: 288px;
  font-size: 262px;
}

section.title-card > h2 {
  position: absolute;
  line-height: 1em;
  margin: 0 0 0 32px;
}

section.title-card > h2.intro {
  top: -8px;
}

section.title-card > h2.outro {
  transform: translateY(320px);
  width: 100%;
  margin: 0 !important;
  text-align: right;
}

section.title-card > h2 > a.gradient > span {
  width: 9ch;
}

section.hint {
  position: absolute;
  left: 96px;
  top: 56px;
}

section.hint > h3 {
  height: 48px;
}

section.hint > div {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.progress > h2 {
  text-align: center;
  padding: 64px 0 16px 0;
}

section.progress > h3 {
  text-align: center;
  padding: 0 0 0 64px;
}

section.progress > h3 > a > span {
  width: 9ch;
}
